@charset "ISO-8859-1";
.topnav {
    
    overflow: hidden;
    width: 100%;
    position: fixed;
    z-index: 8;

  }
  
  .navbar{
  background-color: #333;

  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
  
    color: #f2f2f2;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #emailItem:hover{
	background-color: #333;
    color: #f2f2f2;
}
  
  /* Add a color to the active/current link */
  .navbar a.active {
    color: #f4f4f4;
  }
  
  .navbar a:is(:link, :active, :visited).active{
    color: rgb(187, 184, 184);
    
}
  
 .topnav-right {
  float: right;
}

  .header{
      background-color: #ffffff;
      padding: 20px 6px 0px;
      width: 100%;
      height: 150px;
  }
  
    .secondnav a{
      color: #333;
  }
  
  .secondnav a:is(:link, :active, :visited).active{
    color: #27b403;
}

.secondnav a:hover {
   color: #27b403;
  }
  
    h1{
    padding: 10px 5px;
      text-align: center;
      font-size: 36px;
  }
  
  	.main-div{
      background-color: #c5c1c1;
      padding: 0px 100px;
      width: 100%;
      position: absolute;
      z-index: 7;
  }
  
  .maindiv{
      background-color: #c5c1c1;
      padding: 0px 100px;
      margin-top: 40px;
      width: 100%;
      position: absolute;
      z-index: 7;
  }
  
    .flex-box-container{
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #ffffff;
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
   
   
}
	